[% WRAPPER 'search/results-layout.tt' %]
        [%- IF results.size -%]
            [%- WRAPPER 'components/with-pager.tt' search=1 -%]
                <table class="tbl">
                    <thead>
                        <tr>
                            <th>[%- l('Score') -%]</th>
                            <th>[%- l('Name') -%]</th>
                            <th>[%- l('Writers') -%]</th>
                            <th>[%- l('Artists') -%]</th>
                            <th>[%- l('ISWC') -%]</th>
                            <th>[%- l('Type') -%]</th>
                            <th>[%- l('Language') -%]</th>
                        </tr>
                    </thead>
                    <tbody>
                        [%- FOR result=results -%]
                        <tr[%- ' class="ev"' IF loop.count % 2 == 0 -%]>
                            <td>[%- result.score -%]</td>
                            <td>[%- descriptive_link(result.entity) -%]</td>
                            <td>
                              <ul>
                                [% FOR rel_artist=result.entity.writers %]
                                <li>
                                  [% l('{artist} ({roles})', { artist => link_artist(rel_artist.entity),
                                                               roles  => rel_artist.roles.join(', ') }) %]</li>
                                [% END %]
                              </ul>
                            </td>
                            <td>
                              <ul>
                              [%- FOR artist=result.entity.artists -%]
                                <li>[%- artist_credit(artist) -%]</li>
                              [%- END -%]
                              </ul>
                            </td>
                            <td>
                              <ul>
                                [% FOR iswc=result.entity.iswcs %]
                                  <li>[%- link_iswc(iswc.iswc) -%]</li>
                                [% END %]
                              </ul>
                            </td>
                            <td>
                                [% result.entity.type.l_name %]
                            </td>
                            <td>
                              <abbr title="[% result.entity.language.l_name %]">
                                [% result.entity.language.iso_code_3 %]
                              </abbr>
                            </td>
                        </tr>
                        [%- END -%]
                    </tbody>
                </table>
            [%- END -%]
        [%- ELSE -%]
            <p>[% l('No results found. Try refining your search query.') %]</p>
        [%- END -%]
        <p>
          [% l('Alternatively, you may {uri|add a new work}.', {
                uri => c.uri_for_action('/work/create', {
                         'edit-work.name' => query
                       }) }) %]
        </p>
[%- END -%]
